results/**
resources/**
logs/**
.snakemake
.snakemake/**
.ipynb_checkpoints
.test/data/.ipynb_checkpoints/**
config/.ipynb_checkpoints/**
config/config_c.yaml
config/samples_full.tsv
workflow/.ipynb_checkpoints/**
workflow/envs/.ipynb_checkpoints/**
workflow/scripts/.ipynb_checkpoints/**
.test/.snakemake/**
.test/logs/**
.test/resources/**
.test/results/**
.test/report.html
workflow/scripts/models/empirical_noise.rds
workflow/scripts/models/tf_postop_2cat.rds
workflow/scripts/models/tf_postop_3cat.rds
workflow/scripts/models/tf_preop_2cat.rds
workflow/scripts/models/tf_preop_3cat.rds
